@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', 'sans-serif';
}

.page1 {
    background-color: #fff0ec;
    height: 100vh;
    width: 98.9vw;
}

.page1center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    position: relative;
    top: 90px;
}

header {
    display: flex;
    background-color: #fff0ec;
    z-index: 1;
}

.line {
    height: 5px;
    width: 47px;
    background-color: orange;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: yellow;
}

ul {
    display: flex;
    padding-left: 670px;
    margin-top: 10px;
    list-style: none;
    font-weight: bold;
}

li {
    padding: 15px;
    text-decoration: none
}

li:hover {
    color: yellow;
}

button:hover {
    background-color: yellow;
}

.johnphoto {
    height: 400px;
    width: 300px;
    position: relative;
    left: 280px;
    bottom: 20px;
}

.i {
    font-size: 5px;
    margin-top: 10px;
}

.fa-brands {
    padding: 10px;
}

button {
    background-color: orange;
    color: black;
    border-radius: 10px;
    padding: 5px;
    border: none;
    margin-top: 40px;
    width: 100px;
    height: 40px;
}

.icons {
    margin-top: 40px;
}

.border {
    height: 400px;
    width: 300px;
    border: 3px solid orange;
    border-radius: 10px;
}

.logo {
    position: relative;
    margin-top: 10px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98.9vw;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff0ec;
}

.iamjohn {
    font-size: 45px;
}

h1 {
    font-weight: bold;
}

.i {
    font-size: 20px;
}

.border2 {
    width: 300px;
    height: 400px;
    border: 3px solid orange;
    border-radius: 10px;
}

.girlimage {
    width: 300px;
    height: 400px;
    position: relative;
    left: 320px;
    bottom: 20px;
}

.page2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 98.9vw;
}

.page21 {
    display: flex;
    padding: 30px;
}

.page22 {
    padding: 180px;
    width: 400px;
}

.lorem1 {
    margin-top: 20px;
}

.lorem2 {
    margin-top: 20px;
}

.line2 {
    height: 5px;
    width: 60px;
    background-color: orange;
}

.services {
    font-weight: bold;
    position: relative;
    left: 25px;
}

.line3 {
    background-color: orange;
    height: 5px;
    width: 50px;
    position: relative;
    left: 35px;
}

.page3header {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    position: relative;
    top: 110px;
}

.page3body {
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    padding: 40px;
    position: relative;
    top: 110px;
}

.page3 {
    background-color: #e9eff4;
    height: 100vh;
    width: 98.9vw;
    align-items: center;
    justify-content: center;
}

.card1 {
    padding: 80px;
    background-color: white;
    border-radius: 10px;
    width: 140px;
    height: 150px;
}

.card1:hover {
    background-color: orange;
}

.card2:hover {
    background-color: orange;
}

.card3:hover {
    background-color: orange;
}

.card2 {
    padding: 80px;
    background-color: white;
    width: 140px;
    height: 150px;
    border-radius: 10px;
    position: relative;
    left: 40px;
}

.card3 {
    padding: 80px;
    background-color: white;
    width: 140px;
    height: 150px;
    border-radius: 10px;
    position: relative;
    left: 60px;
}

.cardline1 {
    background-color: orange;
    height: 5px;
    width: 70px;
    position: relative;
    left: 30px;
}

.cardline2 {
    background-color: orange;
    height: 5px;
    width: 70px;
    position: relative;
    left: 30px;
}

.cardline3 {
    background-color: orange;
    height: 5px;
    width: 70px;
    position: relative;
    left: 30px;
}

.page3footer {
    background: black;
    height: 150px;
    position: relative;
    top: 175px;
}

.iconsend {
    color: orange;
}

.icons2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20px;
}

.end {
    color: #3777a5;
    position: relative;
    left: 630px;
    top: 100px;
}

.information {
    font-size: 12px;
    padding: 10px;
}

.cardname {
    font-size: 15px;
}

.fa-brands:hover {
    color: yellow;
}

button {
    cursor: pointer;
}

.lorem1 {
    color: #3777a5;
}

.lorem2 {
    color: #3777a5;
}

.fa-solid:hover {
    color: yellow;
}