.header {
    background-color: $blue;
    @include flexBox();
    text-align: center;
    .card {
        &:hover {
            background-color: white;
            border-bottom: 3px solid $green;
        }
        .fa-solid {
            color: $green;
        }
    }
}

@media only screen and (max-width: 992px) {
    .header {
        flex-direction: column;
    }
}