@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;0,700;1,400;1,700&display=swap');
body {
    font-family: "Josefin Sans", sans-serif;
}

.form {
    border: 1px solid grey;
    background-color: white;
    width: 400px;
    height: 400px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    display: inline-block;
    margin-left: 300px;
}

.background {
    background-color: rgb(213, 249, 255);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
}

#name,
#email {
    background-color: rgb(213, 249, 255);
    width: 25vw;
    border-radius: 10%;
}

#message {
    background-color: rgb(213, 249, 255);
    width: 25vw;
    height: 165px;
    border-radius: 5%;
}

button {
    background-color: green;
    border-radius: 0%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border: none;
    color: white;
    height: 50px;
    width: 400px;
    margin-top: 23px;
}

.informationa {
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.end {
    width: 100%;
    height: 200px;
    margin-top: -100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.fa-brands {
    color: white;
    margin-left: 15px;
}

.tea {
    color: green;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.end2 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
    color: white;
}

.fa-brands:hover,
h3>i:hover {
    background-color: green;
    border-radius: 50%;
}

button:hover {
    background-color: lightgreen;
}